#root {
  height: 100%;
}

.App {
  text-align: center;
  padding-top: 5rem;
}

.buttonload {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: .2rem .4rem;
  font-size: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchButton {
  background: blanchedalmond;
}
